body{
  margin: 2%;
}

.game-title h1{
  text-align: center;
  font-style: italic;
  font-size: 100px;
  color: red;
  animation: color-change 3s infinite;
 /* animation-duration: 10s;
  animation-name: example;
}
@keyframes example {
  from {color: red;}
  to {color: yellow;}*/
}

@keyframes color-change{
  0% {color: red;}
  50% {color: blue;}
  100% {color: red;}
}

.main{ 
  margin:0% auto;
  border: 1px red dashed;
}

      /* Table Stylling */

.table{
  max-width: 500px;
  width: 100%; 
  max-height: 500px;
  height: 100%;
  margin: 1%;
  position: fixed;
  display: table;
}

.player-table{left: 15%;}
.oponent-table{left: 65%;} 

.table-row{
  display: table-row;
}
.table-cell{
  width: 50px;
  height: 50px; 
  border: 1px solid blue;
  display: table-cell;
  margin:3px;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  padding: 0 0 0 0px;
  cursor: pointer;
  z-index: 1;
}

 .table-cell-oponent:hover{
  color: aqua;
  background: rgba(37, 88, 228, 0.904);
  z-index: 2;
  transition: translate(10px,-10px);
  animation: solution 0.2s ease-in-out infinite alternate;
} 
/*
.table-cell-tile.over {
  border: 2px dashed violet;
}
*/

.iWasClicked{
  background: blueviolet;
  border-radius: 5px;
}

.table-cell-tile{
  width:100%;
  height:100%;
  border:1px solid rgb(172, 42, 42);
  border-radius: 4px;
  background: rgba(211, 19, 19, 0.808);
}

.wasHitten{
  background: rgba(0, 0, 0, 0.849);
  border: 1px solid rgba(0, 0, 0, 0.685);
  border-radius: 4px;
}

.wasHittenOP{
  background: url(fire.png);
  background-size: 85% 90%; 
  background-repeat: no-repeat;
  
  /* background: rgba(0, 0, 0, 0.849);
  border: 1px solid rgba(0, 0, 0, 0.685); */
  border-radius: 4px;
}


        /* Available boats styling */
 
.div-boats{
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  position: fixed;
  /* top: 20%; */
  /* border:1px solid green; */
}
.div-boats-row{
  max-width: 200px;
  max-height:50px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /* border:1px dashed green; */
}
.div-boats-cell{
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  border:1px solid darkcyan;
  background: lightblue;
}

.div-boats-cell-row1{
  width: 98%;
  height: 92%;
  margin: 0 auto;
}
.div-boats-cell-row2{
  float: left;
  width: 48%;
  height: 92%;
}
.div-boats-cell-row3{
  float: left;
  width: 31.33%;
  height: 92%;
}

.div-boats-cell-row4{
  float: left;
  width: 23%;
  height: 92%;
}

.div-boats.div-boats-player{
  border:0px solid blueviolet;
  position: fixed;
  left: 18%;
  bottom: 12%;
}

.div-boats.div-boats-oponent{
  border:0px solid brown;
  position: fixed;
  left: 68%;
  bottom: 12%;
}

img{
  width: 200px;
  height: 50px;
}

form {
  margin: 0;
  padding: 0;
}

input {
  font:12px arial;
}

.chat {
  margin: 0 auto;
  padding-bottom: 25px;
  background: #ebf4fb;
  width: 504px;
  border: 1px solid #acd8f0;
  position: fixed;
  right: 10%;
  top: 30%;
}

.chatbox {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  background: #fff;
  height: 270px;
  width: 430px;
  border: 1px solid #acd8f0;
  overflow: auto; 
}

.usermsg {
  width: 395;
  border: 1px solid #acd8f0;  
}

.you {
  position: fixed;
  left: 30%;
  bottom: 22%;
  font-size: 40;
}

.opponent {
  position: fixed;
  left: 80%;
  bottom: 22%;
  font-size: 40;
}

#ready{
  position: fixed;
  left:45%;
  top: 40%;

}
#ready2{
  position: fixed;
  left:45%;
  top: 40%; 
}


#fullscreen {
  position: absolute;
  top: 5px;
  right: 5px;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-8 {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}